body
{
 background-color: orange 
}

body1
{
  
}
body2
{
  
}

botao-de-envio
{
  
}

card
{
  
}

div
{
  background-color: gray;
}

div2
{
  
}

div3
{
  
}

menu-superior
{
  
}

tema
{
  
}

topco
{
  background-color: white;
}

